<header class="header">
    <div class="balance-container">
        <img src="../../images/vaiicon.svg" alt="VAI" class="vai-icon">
        <span id="balance-amount">0</span>
        <a href="../roadmap/roadmap.html" class="roadmap-link"><svg width="70" height="10" viewBox="0 0 70 18" xmlns="http://www.w3.org/2000/svg">
            <path d="M70 2 L78 10 L70 18" stroke="white" stroke-width="2" fill="none" />
            <line x1="2" y1="10" x2="78" y2="10" stroke="white" stroke-width="2" />
        </svg>
        </a>
    </div>
</header> 