<nav class="navigation">
    <a href="../rewards/rewards.html" class="nav-button">
        <img src="../../images/rewards.svg" alt="Rewards">
    </a>
    <a href="../high-stakes/high-stakes.html" class="nav-button">
        <img src="../../images/highstakes.svg" alt="High Stakes">
    </a>
    <a href="../referrals/referrals.html" class="nav-button">
        <img src="../../images/referrals.svg" alt="Referrals">
    </a>
    <a href="../airdrop/airdrop.html" class="nav-button">
        <img src="../../images/airdrop.svg" alt="Airdrop">
    </a>
</nav> 